body {
  height: 100vh;
}

h1 {
  line-height: 2;
  text-align: center;
}

.streaks-container {
  display:flex;
  flex-direction: column;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.streaks-container div {
  background-color: #222222;
  padding: 1rem;
  border-radius: 8px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 425px) {
  .streaks-container {
    grid-template-columns: 1fr;
  }
}

.time-form {
  display: flex;
  flex-wrap: wrap;
}

span {
  font-weight: normal;
}

.delete-student{
  background-color: #dd3b4b;

  /* height: 24px; */
}

.delete-student svg{
  /* width: 100%; */
  fill: #fff;
}