body {
  height: 100vh;
}

h1 {
  line-height: 2;
  text-align: center;
}

.streaks-container {
  padding: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.streaks-container div {
  background-color: #222222;
  padding: 1rem;
  border-radius: 8px;
}

@media only screen and (max-width: 425px) {
  .streaks-container {
    grid-template-columns: 1fr;
  }
}

.time-form {
  display: flex;
  flex-wrap: wrap;
}

span {
  font-weight: normal;
}
