body{
  height: 100vh;
  overflow: hidden;
}

h1{
  line-height: 2;
  text-align: center;
}

.streaks-container{
  padding: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.streaks-container div{
  background-color: #222222;
  padding: 1rem;
  border-radius: 8px;
  min-height: 300px;
}

@media (425px <= width <= 600px )  {
  .streaks-container{
    grid-template-columns: 1fr;
    gap: 10px;
  }
}